#txtFiltro {
	height: 40px;
	width: 80%;
	padding-left: 10px;
}

#ddlStatus {
	width: 20%;
	height: 40px;
	padding-left: 5px;
}

#imagem {
	margin-bottom: 5px;
	margin-top: 10px;
	width: 50px;
	height: 66px;
}

.iconInput {
	width: 15px;
	margin: 5px 0px 0px 0px;
}

#inputsBusca {
	display: flex;
	gap: 10px;
	margin-bottom: 20px;
}

.dropbtn {
	padding: 10px;
	font-size: 16px;
	min-width: 160px;
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

#tbodyItensLivres tr td:nth-child(2) {
	width: 25px;
}

#itens-livres {
	height: min-content;
}

.tabelas {
	display: flex;
	justify-content: space-between;
}

#tabelaDisponivel h1 { margin-bottom: 20px; }

#tabelaDisponivel table tr td {
	text-align: left;
	padding: 0px 10px;
}

#tabelaDisponivel table tr td:nth-child(2) {
	font-weight: bold;
}

.status-em-andamento {
	color: #ef9b0f;
	font-weight: bold;
}

.status-entrega-atrasada {
	color: #ff0000;
	font-weight: bold;
}

.status-aguardando-retirada {	
	color: #ef9b0f;
	font-weight: bold;
}
.status-nao-retirado {
	color: #ff0000;
	font-weight: bold;
}
.status-cancelada {
	color: #ff0000;
	font-weight: bold;
}

.status-concluida {
	/*color: #00a100;*/
	font-weight: bold;
}

.status-reservado {
	color: green;
	font-weight: bold;
}

.btnAcaoReserva {
	width: 75%;
	margin: auto;
}

#dashboard {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

#tabelaReserva {
	width: 75%;
}

#tabelaDisponivel {
	width: 20%;
	margin-bottom: 30px;
}

#tituloTabela {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#tituloTabela h1 { margin-bottom: 20px; }

#iconeReload {
	width: 30px;
	margin-right: 5px;
	cursor: pointer;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(-360deg);
	}
}

.reloadAnimacao {
	animation: spin 2s linear infinite;
}

#tdReload {
	display: flex;
	align-items: center;
	justify-content: center;
}

.ckbOcorrencia {
	height: auto;
}