#txtFiltro {
	height: 40px;
	width: 80%;
	padding-left: 10px;
}

#ddlStatus {
	width: 20%;
	height: 40px;
	padding-left: 5px;
}

#imagem {
	margin-bottom: 5px;
	margin-top: 10px;
	width: 50px;
	height: 66px;
}

.iconInput {
	width: 15px;
	margin: 5px 0px 0px 0px;
}

#inputsBusca {
	display: flex;
	gap: 10px;
	margin-bottom: 20px;
}

.dropbtn {
	padding: 10px;
	font-size: 16px;
	min-width: 160px;
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

#tbodyItensLivres tr td:nth-child(2) {
	width: 25px;
}

#itens-livres {
	height: min-content;
}

.tabelas {
	display: flex;
	justify-content: space-between;
}

#tabelaDisponivel h1 { margin-bottom: 20px; }

#tabelaDisponivel table tr td {
	text-align: left;
	padding: 0px 10px;
}

#tabelaDisponivel table tr td:nth-child(2) {
	font-weight: bold;
}

.status-em-andamento {
	color: #ef9b0f;
	font-weight: bold;
}

.status-entrega-atrasada {
	color: #ff0000;
	font-weight: bold;
}

.status-aguardando-retirada {	
	color: #ef9b0f;
	font-weight: bold;
}
.status-nao-retirado {
	color: #ff0000;
	font-weight: bold;
}
.status-cancelada {
	color: #ff0000;
	font-weight: bold;
}

.status-concluida {
	color: #00a100;
	font-weight: bold;
}

.status-reservado {
	color: #ef9b0f;
	font-weight: bold;
}

.btnAcaoReserva {
	width: 75%;
	margin: auto;
}

#dashboard {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

#tabelaReserva {
	width: 75%;
}

#tabelaDisponivel {
	width: 20%;
}

#tituloTabela {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#tituloTabela h1 { margin-bottom: 20px; }

#iconeReload {
	width: 30px;
	cursor: pointer;
}


#displayOcorrencia {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #00000060;
	overflow: auto;
	padding-bottom: 60px;
}

#gerarOcorrencia h2 {
	font-size: 18px;
	text-align: center;
	margin: 0;
}

#gerarOcorrencia h4 {
	margin: 0;
	margin-top: 10px;
}

#gerarOcorrencia details summary {
	margin: 0;
	margin-top: 10px;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	user-select: none;
}

#gerarOcorrencia {
	width: 560px;
	padding: 15px 20px;
	margin: auto;
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	border: thin solid #ebebeb;
	border-radius: 20px;
	background-color: #fff;
}

.gerarOcorrencia-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

	.gerarOcorrencia-head h2 {
		width: 100%;
		text-align: center;
		padding-left: 15px;
	}

#btnFecharJanelaOcorrencia {
	width: 15px;
	cursor: pointer;
}

#ddlEquip {
	padding: 9px 8px 8px 12px;
	border-radius: 5px;
	border: 1px solid #114a55;
}

	#ddlEquip:focus {
		outline: none;
	}

.ddlOcorrencia {
	padding: 9px 8px 8px 12px;
	border-radius: 5px;
	border: 1px solid #114a55;
	width: 100%;
}

	.ddlOcorrencia:focus {
		outline: none;
	}

.caixaDescricao {
	width: 519px;
	height: 99px;
	border-radius: 5px;
	border: 1px solid #114a55;
	background: #fff;
	color: #000;
	font-size: 14px;
	padding: 6px 8px 3px 12px;
	margin: auto;
	resize: vertical;
}

#btnGerarOcorrencia {
	margin: auto;
}

#alignBtn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
}

	#alignBtn p {
		color: #737373;
		font-size: 14px;
	}

.ckbs-group {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	margin-top: 10px;
}

.itens select {
	margin: 10px 0;
}
