* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0%;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logoETECAF {
    width: 80px;
    margin: auto;
    display: block;
    margin-bottom: 30px;
}

/* ---------------------------- FORMULÁRIO ---------------------------- */
main {
    width: 370px;
    padding: 30px;
    box-shadow: 0px 1px 3px #565656;
    border-radius: 30px;
    text-align: center;
}

h1 {
    font-size: 16px;
    font-weight: 600;
    color: #114A55;
}

#logoCPD {
    width: 60px;
    height: 80px;01
    margin: 10px 0px 10px 0px;
}

div {
    margin: 20px 0px 10px 0px;
    text-align: left;
}

label {
    font-size: 14px;
}

.display {
    display: flex;
    align-items: center;
    margin: 0px;
    border-bottom: thin solid #565656;
    border-bottom-color: #565656;
}

.iconInput {
    width: 15px;
    margin: 0px 0px -5px 0px;
}

.iconRm {
    width: 18px;
    margin-right: -3px;
    padding-top: 3px;
}

input {
    font-size: 14px;
    border: none;
    margin: 12px 0px 0px 10px;
    width: 100%;
    padding-bottom: 5px;
}

    input:focus {
        box-shadow: 0 0 0 0;
        outline: 0;
    }

    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    input[type=number] {
        -moz-appearance: textfield;
        appearance: textfield;
    }

p {
    font-size: 14px;
}

#pVoltar {
    margin-top: 20px;
}

a {
    color: #114A55;
    font-weight: 600;
    text-decoration: none;
}

button, input[type="button"], input[type="submit"] {
    border: thin solid #114A55;
    color: #fff;
    background-color: #114A55;
    border-radius: 20px;
    padding: 5px 0px;
    margin-top: 20px;
    cursor: pointer;
    width: 40%;
}

#pVersao {
    font-size: 12px;
    font-weight: 600;
    margin-top: 30px;
}

#mensagemVerificacao {
    margin-top: 18px;
    color: #f00;
}

@media only screen and (max-width: 800px) {
    #logoETECAF {
        width: 60px;
        text-align: center;
        margin-bottom: 30px;
    }

    /* ---------------------------- FORMULÁRIO ---------------------------- */
    main {
        width: 280px;
        padding: 30px;
        box-shadow: 0px 1px 3px #565656;
        border-radius: 30px;
        text-align: center;
    }

    h1 {
        font-size: 14px;
        font-weight: 600;
        color: #114A55;
    }

    #logoCPD {
        width: 60px;
        height: 80px;
        margin-bottom: 20px;
    }

    div {
        margin: 10px 0px 10px 0px;
        text-align: left;
    }

    label {
        font-size: 12px;
    }

    .display {
        display: flex;
        align-items: center;
        margin: 0px;
        border-bottom: thin solid #565656;
        border-bottom-color: #565656;
    }

    .iconInput {
        width: 15px;
        margin: 5px 0px -5px 0px;
    }

    .iconRm {
        width: 17px;
        margin-right: -3px;
        padding-top: 0px;
    }

    input {
        font-size: 12px;
        border: none;
        margin: 12px 0px 0px 5px;
        width: 100%;
    }

        input:focus {
            box-shadow: 0 0 0 0;
            outline: 0;
        }

    p {
        font-size: 12px;
    }

    #pVoltar {
        margin-top: 20px;
    }

    a {
        color: #114A55;
        font-weight: 600;
        text-decoration: none;
    }

    button, input[type="button"], input[type="submit"] {
        border: thin solid #114A55;
        color: #fff;
        background-color: #114A55;
        border-radius: 20px;
        padding: 5px 20px;
        margin-top: 20px;
    }

    #pVersao {
        font-size: 10px;
        font-weight: 600;
        margin-top: 30px;
    }
}

/* CAIXA DE ERRO */

.caixa-flutuante-erros {
    width: min(500px, 90%);
    position: absolute;
    top: 10px;
    right: 50%;
    transform: translateX(50%);
}

@media only screen and (max-width: 800px) {
    .caixa-flutuante-erros {
        position: absolute;
        bottom: 10px;
        top: auto;
        width: 90%;
        transform: translateX(50%);
        right: 50%;
    }
}

.box1 {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    background: #fff;
    border: thin solid #bbbbbbbf;
    box-shadow: 1px 1px 5px #bbbbbbbf;
}

    .box1 p {
        padding: 0;
        margin: 0;
        margin-right: 20px;
        font-size: 14px;
    }

        .box1 p.erro {
            color: #dc3545;
            font-weight: 600;
        }

.close-box {
    width: 15px;
    cursor: pointer;
}
