/*  -  MENU ESCONDIDO  - */
.bloqueio {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #737373;
    opacity: 0.5;
}

.escondido { display: none; }

.caixaFlutuante {
	position: absolute;
	top: 65px;
	right: 15px;
	width: 165px;
	border-radius: 10px;
	background-color: #FFF;
	padding: 20px 10px 5px 10px;
}

#divUser { text-align: center; }
#userProf { width: 60px; height: 60px; margin-bottom: 10px; }
#divUser div p { font-size: 12px; margin: 0; font-weight: 600; }
#divItemsMenu { border-top: 2px solid #114A55; padding: 5px 0px; margin-top: 10px; }

.itemsMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
}

.itemsMenu a { text-decoration: none; }

.itemsMenu a p {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    color: #000;
}

.iconsMenu { width: 24px; height: 24px; }

/* ---------------------------- MAIN ---------------------------- */

#inputs {
	display: flex;
	justify-content: center;
	align-items: center
}

input {
	width: 25%;
	border-radius: 5px;
	border: 1px solid #114a55;
	background: #fff;
	color: #000;
	font-size: 14px;
	padding: 6px 8px 3px 12px;
	margin: auto;
}

/* ----------- INPUT DATA ----------- */
#txtInputData {
	margin-right: 10px;
	margin-left: 0px;
	padding: 2px 0px 2px 12px;
	height: 40px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	background: url("../imagens/calendario.svg") no-repeat;
	background-position: calc(100% - 5px) center;
	padding: 9px 8px 8px 12px;
}

.input-text-date {
	background: url("../imagens/calendario.svg") no-repeat;
	background-position: calc(100% - 5px) center;
	padding: 9px 8px 8px 12px;
}

	.input-text-date:focus {
		outline: none;
		padding: 2px 0px 2px 12px;
	}

	.input-text-date::placeholder {
		color: #000;
	}

/* ----------- INPUTS HORARIO ----------- */
.inputsHorario {
	width: 14%;
	margin-left: 0px;
	margin-right: 10px;
	padding: 2px 10px 2px 12px;
	height: 40px;
}

input[type="time"]::-webkit-calendar-picker-indicator {
	background: url("../imagens/clock.svg") no-repeat;
	background-position: calc(100% - 5px) center;
	padding: 9px 8px 8px 12px;
}

.input-text-time {
	background: url("../imagens/clock.svg") no-repeat;
	background-position: calc(100% - 5px) center;
	padding: 9px 0px 8px 12px;
}

	.input-text-time:focus {
		outline: none;
		padding: 2px 0px 2px 12px;
	}

	.input-text-time::placeholder {
		color: #000;
	}

button {
	border: thin solid #114A55;
	color: #fff;
	background-color: #114A55;
	border-radius: 20px;
	padding: 5px 20px;
	margin-top: 10px;
	cursor: pointer;
}

	button:hover {
		color: #fff;
		background-color: #114A55;
	}

button, input[type="button"], input[type="submit"] {
	width: 100px;
	height: 39px;
	border-radius: 20px;
	padding: 5px 20px;
	background-color: #114a55;
	color: #fff;
	font-size: 14px;
	outline: none;
	border: none;
	cursor: pointer;
	margin: 0px;
}


#btnBuscarResponsivo {
	display: none;
}

.pMensagemReserva {
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	margin-top: 30px;
}

	.pMensagemReserva strong {
		color: #114A55;
	}

#tipoReserva { display: flex; justify-content: center; margin-top: 30px; gap: 25px; }

#pnlEquipamentos, #pnlAmbientes { 
	display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
    border: thin solid #bbbbbbbf;
    border-radius: 10px;
	box-shadow: 1px 1px 5px #bbbbbbbf;
    padding: 5px 15px 10px 15px;
}
#pnlEquipamentos h1, #pnlAmbientes h1 { text-align: left; margin-bottom: 0px; }

.item-reserva {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
.item { display: flex; justify-content: space-between; align-items: center; }
p { margin: 0px 0px 0px 0px; }
.iconMenos { width: 18px; margin-right: 5px; }
.iconMais { width: 18px; margin-left: 5px; }

.numQtEquip {
	color: #000;
	text-align: center;
	font-size: 16px;
	border-radius: 5px;
	border: thin solid #114a55;
	background: #fff;
	width: 20px;
	height: 20px;
	padding: 0px;
	margin: 0px;
}

.rdbAmb { width: 20%; text-align: end; }
	.rdbAmb input {
		vertical-align: middle;
		width: 13px;
		margin: 0;
		height: 16px;
	}

.reservar {
	width: 91%;
	display: flex;
	margin-top: 20px;
	justify-content: flex-end;
	gap: 10px;
	align-items: center;
}

/* CAIXA CONFIRMAÇÃO */

#divModalItensReserva {
	text-align: center;
	width: 35%;
}

	#divModalItensReserva p strong {
		color: #114A55;
	}

.pHorarios {
	color: #114A55;
	padding: 25px 0px;
}

#modalItensReserva div {
	margin-top: 10px;
}

#btnCancelar {
	width: auto;
	color: #000;
	background-color: #f1f1f1;
	font-size: 16px;
	padding: 10px 40px;
	border: thin solid #f1f1f1;
	margin-bottom: 10px;
}

#btnConcluir {
	width: auto;
	color: #fff;
	background-color: #114A55;
	font-size: 16px;
	padding: 10px 40px;
	margin-bottom: 10px;
}

#divModalItensReservaTodas {
	text-align: center;
}

	#divModalItensReservaTodas p strong {
		color: #114A55;
	}

#cardCentro {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	right: 0;
}

.cardFlutuante {
	position: absolute;
	width: min(900px, 70vw);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	background-color: #FFF;
	padding: 20px 20px 10px 10px;
	z-index: 2;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.cardFlutuanteTodas {
	position: absolute;
	top: 36%;
	left: 33%;
	width: 33vw;
	height: 20vh;
	border-radius: 10px;
	background-color: #FFF;
	padding: 20px 10px;
	z-index: 2;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#modalItensReserva {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

@media only screen and (max-width: 800px) 
{
	/* ---------------------------- HEADER ---------------------------- */
	#iconMenuSanduiche {
		display: initial;
		width: 35px;
	}

	#opMenu { display: none; }
	#divUserLogoutDesktop { display: none; }

	/* ---------------------------- MAIN ---------------------------- */
	h1, p, .pMensagemReserva { font-size: 14px; }
    input { font-size: 12px; padding: 6px 8px 3px 6px; margin: 0px;}
	#inputs { display: flex; flex-wrap: wrap; justify-content: space-between; }
	#txtInputData { width: 100%; margin-bottom: 10px; margin-right: 0px; }
	.inputsHorario { width: 43%; margin-left: 0px; margin-right: 5px; padding-right: 0px; }
	#txtHorarioInicio, #txtHorarioFim {
		width: 42%;
	}

	#btnBuscarResponsivo {
		display: initial;
		width: 35px;
		border: none;
		padding: 0px;
	}

	#btnBuscar { display: none; }
	#tipoReserva { display: flex; flex-direction: column; gap: 10px; margin-bottom: 20px; }
	#pnlEquipamentos, #pnlAmbientes { width: 100%; font-size: 14px; }
    #reservar { width: 100%; }
	#btnReservar {
		width: 40%;
		margin: auto;
		margin-bottom: 20px;
	}

	.reservar {
		margin: auto;
	}

	#divModalItensReserva {
		width: 90%;
	}

	.pHorarios {
		color: #114A55;
		padding: 20px 0px;
	}

	#btnCancelar, #btnConcluir {
		width: 40%;
		padding: 10px 10px;
		font-size: 14px;
	}
}

