#InfoGrade {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.btnExcluirUsoAmbiente {
	border: thin solid #114a55;
	color: #fff;
	background-color: #114a55;
	border-radius: 20px;
	padding: 5px 20px;
	cursor: pointer;
	display: block;
	text-decoration: none;
	font-size: 14px;
	width: 50%;
	margin: auto;
}

#InfoGrade select {
	width: 30%;
	height: 40px;
	padding-left: 5px;
}

select, input {
	margin: 0px !important;
}

#btnFiltrar {
	width: 8%;
	height: 39px;
}

#tabelaHorarios {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	width: 100%;
}

#tabelaDisponivel table tr td {
	text-align: left;
	padding: 0px 10px;
}

#tabelaDisponivel table tr td:nth-child(2) {
	font-weight: bold;
}

#btnAdcHorario {
	width: 165px;
	height: 35px;
	border-radius: 20px;
	padding: 8px 0px;
	background-color: #114a55;
	color: #fff;
	font-size: 14px;
	outline: none;
	border: none;
	cursor: pointer;
	margin: 0;
	text-decoration: none;
	text-align: center;
	display: block;
	margin-inline-start: auto;
	margin-top: 30px;
}