* {
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}
body {
	margin: 0%;
}

.escondido {
	display: none !important;
}

h1 {
	font-size: 16px;
	text-align: center;
	margin-bottom: 30px;
	margin-top: 0px;
}

main {
	width: min(90%, 1800px);
	margin: auto;
	margin-top: 30px;
}

a {
	text-decoration: none;
}

/* INPUTS */

input,
select {
	border-radius: 5px;
	border: 1px solid #114a55;
	background: #fff;
	color: #000;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: auto;
	height: 40px;
}

.btn {
	border-radius: 20px;
	padding: 5px 5px;
	background-color: #114a55;
	color: #fff;
	font-size: 14px;
	outline: none;
	border: none;
	cursor: pointer;
	margin: 0px;
	width: 100%;
}

/*select {
	padding: 9px 8px 8px 12px;
	border-radius: 5px;
	border: 1px solid #114a55;
	width: 25%;
	margin-right: 10px
}*/

	select:focus {
		outline: none;
	}

input[type = "submit"] {
	border: thin solid #4a99cd;
	background-color: #4a99cd;
	font-size: 20px;
	padding: 10px 20px;
	border-radius: 24px;
	cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	background: url("../imagens/calendario.svg") no-repeat;
	background-position: calc(100% - 5px) center;
	padding: 9px 8px 8px 12px;
}
	input:focus {
		box-shadow: 0 0 0 0;
		outline: 0;
	}

.input-text-date {
	background: url("../imagens/calendario.svg") no-repeat;
	background-position: calc(100% - 5px) center;
	padding: 9px 8px 8px 12px;
}

	.input-text-date:focus {
		outline: none;
		padding: 2px 0px 2px 12px;
	}

	.input-text-date::placeholder {
		color: #000;
	}


input[type="time"]::-webkit-calendar-picker-indicator {
	background: url("../imagens/clock.svg") no-repeat;
	background-position: calc(100% - 5px) center;
	padding: 9px 8px 8px 12px;
}

.input-text-time {
	background: url("../imagens/clock.svg") no-repeat;
	background-position: calc(100% - 5px) center;
	padding: 9px 0px 8px 12px;
}

	.input-text-time:focus {
		outline: none;
		padding: 2px 0px 2px 12px;
	}

	.input-text-time::placeholder {
		color: #000;
	}


button, input[type="button"], input[type="submit"] {
 	border-radius: 20px;
	padding: 5px 20px;
	background-color: #114a55;
	color: #fff;
	font-size: 14px;
	outline: none;
	border: none;
	cursor: pointer;
	margin: 0px;
}

	button:disabled, input[type="button"]:disabled, input[type="submit"]:disabled {
		background-color: #888;
		cursor: not-allowed;
		border: none;
	}

/* TABELAS */

table {
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	height: min-content;
	border-radius: 5px;
	overflow: hidden;
	border: solid 1px #114a55;
	font-size: 14px;
}

td, th {
	text-align: center;
	padding: 10px;
}

tr:nth-child(odd) {
	background-color: #00a4c510;
}


	table tbody tr:nth-child(odd) {
		background-color: #00a4c510;
	}

	table thead {
		background-color: #114a55;
		color: #fff;
	}

tr {
	height: 45px;
	padding: 10px;
}

/* CAIXA DE ERRO */

.caixa-flutuante-erros {
	position: absolute;
	top: 10%;
	right: 10px;
}

.box1 {
	width: 100%;
	display: flex;
	margin: 0;
	padding: 10px;
	justify-content: space-between;
	align-items: center;
	flex-shrink: 0;
	border-radius: 10px;
	background: #fff;
	border: thin solid #bbbbbbbf;
	box-shadow: 1px 1px 5px #bbbbbbbf;
}

	.box1 p {
		padding: 0;
		margin: 0;
		margin-right: 20px;
		font-size: 14px;
	}

		.box1 p.erro {
			color: #dc3545;
			font-weight: 600;
		}

.close-box {
	width: 15px;
	cursor: pointer;
}

/* MODAL OCORRENCIAS */

input[name="equipamentos"], input[name="ambientes"] {
	width: auto;
}

#displayOcorrencia {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #00000060;
	overflow: auto;
	padding-bottom: 60px;
}

#gerarOcorrencia h2 {
	font-size: 18px;
	text-align: center;
	margin: 0;
}

#gerarOcorrencia h4 {
	margin: 0;
	margin-top: 10px;
}

#gerarOcorrencia details summary {
	margin: 0;
	margin-top: 10px;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	user-select: none;
}

#gerarOcorrencia {
	width: 560px;
	padding: 15px 20px;
	margin: auto;
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	border: thin solid #ebebeb;
	border-radius: 20px;
	background-color: #fff;
}

.gerarOcorrencia-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

	.gerarOcorrencia-head h2 {
		width: 100%;
		text-align: center;
		padding-left: 15px;
	}

#btnFecharJanelaOcorrencia {
	width: 15px;
	cursor: pointer;
}

#ddlEquip {
	padding: 9px 8px 8px 12px;
	border-radius: 5px;
	border: 1px solid #114a55;
}

	#ddlEquip:focus {
		outline: none;
	}

.ddlOcorrencia {
	padding: 9px 8px 8px 12px;
	border-radius: 5px;
	border: 1px solid #114a55;
	width: 100%;
}

	.ddlOcorrencia:focus {
		outline: none;
	}

.caixaDescricao {
	width: 519px;
	height: 99px;
	border-radius: 5px;
	border: 1px solid #114a55;
	background: #fff;
	color: #000;
	font-size: 14px;
	padding: 6px 8px 3px 12px;
	margin: auto;
	resize: vertical;
}

#btnGerarOcorrencia {
	margin: auto;
}

#alignBtn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
}

	#alignBtn p {
		color: #737373;
		font-size: 14px;
	}

.ckbs-group {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	margin-top: 10px;
}

.itens select {
	margin: 10px 0;
}


.select2-container--default .select2-selection--single {
	border: 1px solid #114a55 !important;
	height: 0px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
	border: 1px solid #114a55 !important;
	outline: none;
}

.select2-container--open .select2-dropdown--below {
	border: solid 1px #114a55 !important;
	border-top: none !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
	background-color: #114a55 !important;
}

@media only screen and (max-width: 800px) {

	h1 {
		font-size: 14px;
		font-weight: 600;
	}
	label {
		font-size: 12px;
	}

	.display {
		display: flex;
		align-items: center;
		margin: 0px;
		border-bottom: thin solid #565656;
		border-bottom-color: #565656;
	}

	input {
		font-size: 12px;
		margin: 12px 0px 0px 5px;
		width: 100%;
	}

	input:focus {
		box-shadow: 0 0 0 0;
		outline: 0;
	}

	button {
		border: thin solid #114a55;
		color: #fff;
		background-color: #114a55;
		border-radius: 20px;
		padding: 5px 20px;
		margin-top: 10px;
	}


	#btnCardReserva {
		border: thin solid #114A55;
		border-radius: 20px;
		background-color: #fff;
		color: #000;
		margin-bottom: 20px;
	}

	.caixa-flutuante-erros {
		position: fixed;
		bottom: 10px;
		width: 90%;
		top: 10px;
		height: 0px;
		transform: translateX(50%);
		right: 50%;
	}
}