* {
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

main {
	width: min(90%, 1800px);
	margin: auto;
	margin-top: 30px;
}

body {
	margin: 0%;
}

header {
	width: 100%;
	/* padding: 0 200px; */
	background: #fff;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	font-size: 16px;
	font-style: normal;
	line-height: normal;
}

#headerConteu {
	display: flex;
	width: 62%;
	align-items: center;
	justify-content: space-around;
	margin: auto;
}

#opMenu {
	display: contents;
}

#iconeMenu {
	width: 40px;
	height: 40px;
}

#imagem {
	margin-bottom: 5px;
	margin-top: 10px;
	width: 80px;
	height: 100px;
}

h1 {
	text-align: center;
	font-size: 20px;
}

#InfoGrade {
	display: flex;
	justify-content: center;
}

select {
	width: 12%;
	border-radius: 5px;
	border: 1px solid #114a55;
	background: #fff;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 4px 5px 1px 10px;
	margin: 0px 3px;
}

button, input[type="button"], input[type="submit"] {
	border: thin solid #114a55;
	color: #fff;
	background-color: #114a55;
	border-radius: 20px;
	padding: 5px 20px;
	cursor: pointer;
	display: block;
	text-decoration: none;
	font-size: 12px;
}

.btnExcluirUsoAmbiente {
	border: thin solid #114a55;
	color: #fff;
	background-color: #114a55;
	border-radius: 20px;
	padding: 5px 20px;
	cursor: pointer;
	display: block;
	text-decoration: none;
	font-size: 12px;
	width: 75%;
}

#btnAdcHorario {
	border: thin solid #114a55;
	color: #fff;
	background-color: #114a55;
	border-radius: 20px;
	padding: 5px 20px;
	cursor: pointer;
	display: block;
	text-decoration: none;
	font-size: 12px;
	margin-inline-start: auto;
	margin-top: 10px;
	width: 145px;
	text-decoration: none;
}

tr {
	height: 45px;
	padding: 10px;
}

#txtFiltro {
	height: 40px;
}

#imagem {
	margin-bottom: 5px;
	margin-top: 10px;
	width: 50px;
	height: 66px;
}

table {
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	height: min-content;

	border-radius: 5px;
	overflow: hidden;
	border: solid 1px #114a55;
}

table tbody tr:nth-child(odd) {
	background-color: #00a4c510;
}

table thead {
	background-color: #114a55;
	color: #fff;
}

#tabelaDisponivel table tr td {
	text-align: left;
	padding: 0px 10px;
}

#tabelaDisponivel table tr td:nth-child(2) {
	font-weight: bold;
}

#tabelaHorarios {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	width: 100%;
}
