/*  -  MENU ESCONDIDO  - */
.bloqueio {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #737373;
    opacity: 0.5;
}

.escondido { display: none; }

.caixaFlutuante {
    position: absolute;
    top: 65px;
    right: 15px;
    width: 165px;
    height: 266px;
    border-radius: 10px;
    background-color: #FFF;
    padding: 20px 10px;
}

#txtHorarioInicio, #txtHorarioFim {
	border-radius: 5px;
	border: 1px solid #114a55;
	color: #000;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: auto;
	padding: 10px;
	height: 40px;
	width: 20%;
}

input[type="time"]::-webkit-calendar-picker-indicator {
	background: url("../imagens/Clock.png") no-repeat;
	background-position: calc(100% - 5px) center;
	padding: 9px 8px 8px 12px;
}

.input-text-time {
	background: url("../imagens/Clock.png") no-repeat;
	background-position: calc(100% - 5px) center;
	padding: 9px 0px 8px 12px;
}

	.input-text-time:focus {
		outline: none;
		padding: 2px 0px 0px 12px;
	}

	.input-text-time::placeholder {
		color: #000;
	}


#divUser { text-align: center; }
#userProf { width: 60px; height: 60px; margin-bottom: 10px; }
#divUser div p { font-size: 12px; margin: 0; font-weight: 600; }
#divItemsMenu { border-top: 2px solid #114A55; padding: 5px 0px; margin-top: 10px; }

.itemsMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
}

.itemsMenu a { text-decoration: none; }

.itemsMenu a p {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    color: #000;
}

.iconsMenu { width: 24px; height: 24px; }

/* ---------------------------- MAIN ---------------------------- */

#inputs {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	align-items: center;
}


#txtInputData {
	margin-right: 10px;
	margin-left: 0px;
	padding: 2px 0px 2px 12px;
	height: 37px;
}

.inputsHorario {
	width: 14%;
	margin-left: 0px;
	margin-right: 10px;
	padding: 2px 10px 2px 12px;
	height: 37px;
}


#btnBuscarResponsivo {
	display: none;
}

.pMensagemReserva {
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	margin-top: 30px;
}

	.pMensagemReserva strong {
		color: #114A55;
	}

#tipoReserva { display: flex; justify-content: center; margin-top: 30px; gap: 25px; }

#pnlEquipamentos, #pnlAmbientes { 
	display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    border: thin solid #bbbbbbbf;
    border-radius: 10px;
	box-shadow: 1px 1px 5px #bbbbbbbf;
    padding: 5px 15px 10px 15px;
}
#pnlEquipamentos h1, #pnlAmbientes h1 { text-align: left; margin-bottom: 0px; }

.item-reserva {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
.item { display: flex; justify-content: space-between; align-items: center; }
p { margin: 0px 0px 0px 0px; }
.iconMenos { width: 18px; margin-right: 5px; }
.iconMais { width: 18px; margin-left: 5px; }

.numQtEquip {
	color: #000;
	text-align: center;
	font-size: 16px;
	border-radius: 5px;
	border: thin solid #114a55;
	background: #fff;
	width: 20px;
	height: 20px;
	padding: 0px;
	margin: 0px;
}

.rdbAmb { width: 20%; text-align: end; }
	.rdbAmb input {
		vertical-align: middle;
		width: 13px;
		margin: 0;
	}

.reservar { width: 30%; display: flex; justify-content: space-between; margin-top: 20px; align-items: center; float: right; }

@media only screen and (max-width: 800px) 
{
	/* ---------------------------- HEADER ---------------------------- */
	#iconMenuSanduiche {
		display: initial;
		width: 30px;
		height: 30px;
	}

	#opMenu { display: none; }
	#divUserLogoutDesktop { display: none; }

	/* ---------------------------- MAIN ---------------------------- */
	h1, p, .pMensagemReserva { font-size: 14px; }
    input { font-size: 12px; padding: 6px 8px 3px 6px; }
	#inputs { display: flex; flex-wrap: wrap; justify-content: space-between; }
	#txtInputData { width: 100%; margin-bottom: 10px; margin-right: 0px; }
	.inputsHorario { width: 43%; margin-left: 0px; margin-right: 5px; padding-right: 3px; }

	#btnBuscarResponsivo {
		display: initial;
		width: 35px;
		height: 35px;
		border-radius: 20px;
		padding: 5px;
		background-color: #114a55;
		color: #fff;
	}

	#btnBuscar { display: none; }
	#tipoReserva { display: flex; flex-direction: column; gap: 10px; }
	#pnlEquipamentos, #pnlAmbientes { width: 100%; font-size: 14px; }
    #reservar { width: 100%; }
	#btnReservar { margin: 20px 0 0 0; width: 100%; margin-bottom: 20px; }

	.reservar {
		margin-top: 0px;
	}
}

.select2-container--default .select2-selection--single {
	border: 1px solid #114a55 !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
	border: 1px solid #114a55 !important;
	outline: none;
}

.select2-container--open .select2-dropdown--below {
	border: solid 1px #114a55 !important;
	border-top: none !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
	background-color: #114a55 !important;
}


button:disabled, input[type="button"]:disabled, input[type="submit"]:disabled {
	background-color: #888;
	cursor: not-allowed;
}
