#InfoGrade {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.btnExcluirUsoAmbiente {
	border: thin solid #114a55;
	color: #fff;
	background-color: #114a55;
	border-radius: 20px;
	padding: 5px 20px;
	cursor: pointer;
	display: block;
	text-decoration: none;
	font-size: 14px;
	width: 50%;
	margin: auto;
}

#divNovoHorario {
	width: 630px;
	padding: 15px 20px;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	border: thin solid #ebebeb;
	border-radius: 20px;
	margin:auto;
}

div.divLabels {
	margin-top: 10px;
	text-align: left;
	display: flex;
	justify-content:space-between;
}

.itemDisplay {
	width: 49%;
}

#ddlDiaSemana, #ddlAmbiente, #txtHorarioInicio, #txtHorarioFim {
	width: 100%;
	padding: 5px;
}

#divBtn {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

label {
	margin-bottom: 10px;
}

#btnAdicionar {
	margin-top: 20px !important;
	width: 150px;
}

#InfoGrade select {
	width: 30%;
	height: 40px;
	padding-left: 5px;
}

select, input {
	margin: 0px !important;
}

#btnFiltrar {
	width: 8%;
	height: 39px;
}

#tabelaHorarios {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	width: 100%;
}

#tabelaDisponivel table tr td {
	text-align: left;
	padding: 0px 10px;
}

#tabelaDisponivel table tr td:nth-child(2) {
	font-weight: bold;
}

#btnAdcHorario {
	width: 165px;
	height: 35px;
	border-radius: 20px;
	padding: 8px 0px;
	background-color: #114a55;
	color: #fff;
	font-size: 14px;
	outline: none;
	border: none;
	cursor: pointer;
	margin: 0;
	text-decoration: none;
	text-align: center;
	display: block;
	margin-inline-start: auto;
	margin-top: 30px;
}