header {
    width: 100%;
    padding: 0 20px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logoCPD {
    margin-bottom: 5px;
    margin-top: 10px;
    width: 50px;
    height: 66px;
    cursor: pointer;
}

#opMenu {
    display: contents;
}

#displayOpMenu {
    width: 70%;
    display: flex;
    align-items: center;
}

    #displayOpMenu a {
        text-decoration: none;
        color: #000;
        font-size: 16px;
        text-align: center;
        width: 100%;
    }

/*  -  ÍCONES  - */
#iconMenuSanduiche, #iconMenuSanduicheFunc {
    display: none;
}

#userProfDesktop {
    width: 50px;
    margin-right: 10px;
    border-radius: 25px;
}

/* - INFO USER DESKTOP - */
#divUserLogoutDesktop {
    display: flex;
    align-items: center;
}

    #divUserLogoutDesktop a {
        margin-top: 4px;
    }

#iconLogout {
    height: 40px;
    margin-left: 30px;
}

#displayDivUserDesktop {
    display: flex;
    align-items: center;
}

#displayInfoUserDesktop {
    display: flex;
    flex-direction: column;
}

    #displayInfoUserDesktop p {
        margin: 0;
        font-size: 16px;
    }

/*  -  MENU E CARD ESCONDIDO  - */
.bloqueio {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #737373;
    opacity: 0.5;
    z-index: 2;
}

.escondido {
    display: none;
}

.caixaFlutuante {
    position: absolute;
    top: 65px;
    right: 15px;
    width: 165px;
    height: 266px;
    border-radius: 10px;
    background-color: #FFF;
    padding: 20px 10px;
    z-index: 2;
}

.dropdown {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100%;
}

    .dropdown span {
        border: none;
        cursor: pointer;
    }

button:hover {
    background-color: #cbcbcb;
}

.dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
    background-color: #fff;
    border-radius: 5px;
    border: solid 1px #cbcbcb;
    border-top: none;
    border-start-end-radius: 0px;
    border-start-start-radius: 0px;
}

.dropdown:hover .dropdown-options {
    display: block;
    width: 160px;
}

.dropdown-options a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    padding: 10px;
}

    .dropdown-options a:hover {
        color: #0a0a23;
        background-color: #ddd;
    }

@media only screen and (max-width: 800px) {
    #iconMenuSanduiche, #iconMenuSanduicheFunc {
        display: initial;
        width: 35px;
    }

    #opMenu {
        display: none;
    }

    #divUserLogoutDesktop {
        display: none;
    }

    #userProf {
        width: 60px;
        margin-bottom: 10px;
        border-radius: 30px;
    }

    .caixaFlutuante {
        height: auto;
        padding: 20px 10px 5px 10px;
    }

    #divUser {
        text-align: center;
    }

    #userProfDesktop {
        display: none;
    }

    #divUser div p {
        font-size: 12px;
        margin: 0;
        font-weight: 600;
    }

    #divItemsMenu {
        border-top: 2px solid #114a55;
        padding: 5px 0px;
        margin-top: 10px;
    }

    .itemsMenu, .itemsMenuProf a {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 5px;
    }

        .itemsMenu a {
            text-decoration: none;
        }

            .itemsMenu a p, .itemsMenuProf a p {
                margin: 0;
                font-size: 12px;
                font-weight: 600;
                text-decoration: none;
                color: #000;
            }
}

