* { box-sizing: border-box; font-family: 'Montserrat', sans-serif; }
body{ margin: 0%; }

h1 {
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
}

p {
    margin: 0px;
}

.caixa-flutuante-erros {
    position: absolute;
    top: 10%;
    right: 10px;
}

@media only screen and (max-width: 800px) {
    .caixa-flutuante-erros {
        position: absolute;
        bottom: 10px;
        top: auto;
        width: 90%;
        transform: translateX(50%);
        right: 50%;
    }
}

.box1 {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    background: #fff;
    border: thin solid #bbbbbbbf;
    box-shadow: 1px 1px 5px #bbbbbbbf;
}

    .box1 p {
        padding: 0;
        margin: 0;
        margin-right: 20px;
        font-size: 14px;
    }

        .box1 p.erro {
            color: #dc3545;
            font-weight: 600;
        }

.close-box {
    width: 15px;
    cursor: pointer;
}

#inputs {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
}

input {
    width: 25%;
    border-radius: 5px;
    border: 1px solid #114a55;
    background: #fff;
    color: #000;
    font-size: 14px;
    padding: 6px 8px 3px 12px;
    margin: auto;
}

#txtInputData {
    margin-right: 10px;
    margin-left: 0px;
    padding: 2px 0px 2px 12px;
    height: 37px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: url("../imagens/Calendario.png") no-repeat;
    background-position: calc(100% - 5px) center;
    padding: 9px 8px 8px 12px;
}

.input-text-date {
    background: url("../imagens/Calendario.png") no-repeat;
    background-position: calc(100% - 5px) center;
    padding: 9px 8px 8px 12px;
}

    .input-text-date:focus {
        outline: none;
        padding: 2px 0px 2px 12px;
    }

    .input-text-date::placeholder {
        color: #000;
    }

#displayRelatorio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

#ddlRelatorio {
    padding: 9px 8px 8px 12px;
    border-radius: 5px;
    border: 1px solid #114a55;
}

    #ddlRelatorio:focus {
        outline: none;
    }

#gerarRelatorio {
    width: 630px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: thin solid #ebebeb;
    border-radius: 20px;
}

#inputsRelatorio {
    display: flex;
    justify-content: space-between;
    color: #000;
}

#txtDataInicio, #txtDataFinal {
    padding: 2px 0px 2px 12px;
    height: 37px;
    width: 49%;
    margin: 0;
}

#alignBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

    #alignBtn p {
        color: #737373;
        font-size: 14px;
    }

#btnGerarRelatorio {
    width: 142px;
    height: 35px;
    border-radius: 20px;
    padding: 5px 20px;
    background-color: #114a55;
    color: #fff;
    font-size: 14px;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 0;
}

#btnGerarRelatorio:active {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 2);
}
