* { box-sizing: border-box; font-family: 'Montserrat', sans-serif; }
body{ margin: 0%; }

main {
    margin: 30px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 14px;
}

#gerarRelatorio {
    width: 100%;
    display: flex;
}

select {
    width: 36%;
    height: 32px;
    color: #bbb;
    border-radius: 5px;
    border: 1px solid #114A55;
    padding: 0px 10px;
    margin: 0px 5px;
    font-size: 12px;
}

select.habilitado {
    color: #000;
}

select option {
    color: #000;
    padding: 5px;
}

input[type="date"] {
    width: 24%;
    height: 32px;
    color: #bbb;
    border-radius: 5px;
    border: 1px solid #114A55;
    padding: 0px 10px;
    margin: 0px 5px;
    font-size: 12px;
}

input[type="date"]::-webkit-calendar-picker-indicator{
    background: url("../imagens/calendario.png") no-repeat;
    width: 24px;
    height: 20px;
    margin-right: -10px;
    cursor: pointer;
}

input[type="date"].habilitado {
    color: #000;
}

button {
    width: 16%;
    height: 32px;
    font-size: 12px;
    border: 0px;
    border-radius: 16px;
    color: #fff;
    background-color: #114A55;
    padding: 0px 10px;
    margin: 0px 5px;
    cursor: pointer;
}

button:active {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 2);
  }