* {
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	font-size: 13px;
}

body {
	margin: 0%;
}

h1 {
	font-size: 20px;
}

tr {
	height: 45px;
	padding: 10px;
}

#imagem {
	margin-bottom: 5px;
	margin-top: 10px;
	width: 50px;
	height: 66px;
}

main {
	width: min(90%, 1800px);
	margin: auto;
	margin-top: 30px;
}

.iconInput {
	width: 15px;
	margin: 5px 0px 0px 0px;
}

input {
	border: none;
	margin: 12px 0px 0px 5px;
	width: 100%;
}
input:focus {
	box-shadow: 0 0 0 0;
	outline: 0;
}

#inputsBusca {
	display: flex;
	gap: 10px;
	margin-bottom: 10px;
}

input,
select {
	border-radius: 5px;
	border: 1px solid #114a55;
	background: #fff;
	color: #000;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: auto;
	padding: 10px;
	height: 40px;
	box-sizing: border-box;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	color: rgba(0, 0, 0, 0);
	opacity: 1;
	display: block;
	background: url("../imagens/Calendario.png") no-repeat;
	width: 20px;
	height: 20px;
	border-width: thin;
}

.dropbtn {
	padding: 10px;
	font-size: 16px;
	min-width: 160px;
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

#tbodyItensLivres tr td:nth-child(2) {
	width: 25px;
}

#itens-livres {
	height: min-content;
}

.tabelas {
	display: flex;
	justify-content: space-between;
}

table {
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	height: min-content;
	
	border-radius: 5px;
	overflow: hidden;
	border: solid 1px #114a55;
}

table tbody tr:nth-child(odd) {
	background-color: #00a4c510 ;
}

table thead {
	background-color: #114a55;
	color: #fff;
}

#tabelaDisponivel table tr td {
	text-align: left;
	padding: 0px 10px;
}

#tabelaDisponivel table tr td:nth-child(2) {
	font-weight: bold;
}

.status-em-andamento {
	color: #ef9b0f;
	font-weight: bold;
}

.status-entrega-atrasada {
	color: #ff0000;
	font-weight: bold;
}

.status-aguardando-retirada {	
	color: #ef9b0f;
	font-weight: bold;
}
.status-nao-retirado {
	color: #ff0000;
	font-weight: bold;
}
.status-cancelada {
	color: #ff0000;
	font-weight: bold;
}

.status-concluida {
	color: #00a100;
	font-weight: bold;
}

.status-reservado {
	color: #ef9b0f;
	font-weight: bold;
}

button, .btn {
	border: thin solid #114a55;
	color: #fff;
	background-color: #114a55;
	border-radius: 20px;
	padding: 5px 20px;
	cursor: pointer;
	display: block;
	text-decoration: none;
}

.btnAcaoReserva {
	width: 75%;
	margin: auto;
}

#tabelaReserva {
	width: 100%;
}

#txtData {
	width: 30%;
}

#ddlStatus{
	width: 30%;
}

.escondido {
	display: none;
}